.container-body{
  //box-shadow: 0px 0px 5px 5px #888888;
  //margin-top: 70px;
  margin-bottom: 70px;
}

nav{
  background-color: #3361FF;
}

a:link {
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: black;
}

a:active{
  color: black;
}

.card-style{
  box-shadow: 0px 0px 5px 5px #888888;
}

hr{
  border-color: black;
}

ul.list-inline li.list-inline-item {
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 100%;
  background-color: #343a40!important;
  color: white;
  text-align: center;
  padding: 5px;
}
